# Ignore Android build caches
android/.gradle
android/app/build
android/build

# Ignore iOS build caches
ios/Pods
ios/build

# Ignore node & caches
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Expo local state
.expo/
.expo-shared/

# Dist / Output folders
dist/
web-build/

# Environment
.env
*.keystore
*.jks

# Cache / temp
*.psd
*.ai
*.zip
*.rar
*.iml
*.gradle
