###############################
# NPM & Yarn
###############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

###############################
# Expo
###############################
.expo/
.expo-shared/
.expo-source/
.web/
web-build/

###############################
# Android
###############################
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aar

###############################
# iOS
###############################
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj
ios/Podfile.lock

###############################
# Temp / Cache / OS Files
###############################
*.iml
*.psd
*.ai
*.zip
*.rar
*.tar
*.gz
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db

###############################
# Environment keys
###############################
.env
*.jks
*.keystore

###############################
# EAS Build Internal Junk
###############################
.eastmp/
build/
cache/

###############################
# Git
###############################
.git/
.gitignore

###############################
# Metro & Babel
###############################
.cache/
babel-cache/
