# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Android & iOS build outputs (but keep project folders!)
android/app/build/
android/build/
ios/build/
ios/Pods/

# Native sensitive keys
google-services.json
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# images & temp
*.orig.*
app-example
